* {
	
	font-family: 'Raleway', sans-serif;
	
}

/************ Navigation Area *************/


nav {
	background-color: black;
}


.navbar {
  border-radius: 0 !important;
 
}

#company-name {
	font-size: 2em;
	color: orange;
	padding-top: 20%;
	font-weight: bolder;

}

.nav-pills {
	padding: 2% 1%;

}

.nav-pills > li > a {
      background-color: gray;
      color: black;
      
    }

.nav-pills > li > a:hover {
      background-color: #ff0000;
    }

/*********************/

.jumbotron {
	text-align: center;
	background-image: url("/img/header.jpg");
	background-size: cover;
}

/*********************/




/********* CONTENT ************/


#title {
	text-align: center;
	padding-bottom: 3%;
}

/******************************/







/* media queries */

@media only screen and (max-width: 768px){

	

}


