* {
	
	font-family: 'Raleway', sans-serif;
	
}

/*html, body {
	height: 100%;
}

body {
	padding-bottom: 200px ;
}*/

/************ Large screen Navigation Area *************/


nav {
	background-color: black;
}


.navbar {
  border-radius: 0 !important;
  margin-bottom: 0%;
 
}

#company-name {
	font-size: 2em;
	color: orange;
	padding-top: 20%;
	font-weight: bolder;

}

.nav-pills {
	padding: 2% 1%;

}

.nav-pills > li > a {
      background:rgba(134, 133, 133, 0.5);
      color: black;
      
    }

.nav-pills > li > a:hover {
      background-color: white;
    }

/******** XS Screen Navigation area *********/
/*
.floatL {
	float: left;
}
.floatR {
	float: right;
}
*/

/*********************/

.jumbotron {
	text-align: center;
	background-image: url("/img/header.jpg");
	background-size: cover;
	margin-bottom: 0%;
}

/*********************/




/********* CONTENT ************/


#title {
	text-align: center;
	padding-bottom: 3%;
}

/******************************/


/******** FOOTER *******/

#footer {
	color: gray;
	height: 75px;
	margin-bottom: 20px;
	margin-top: 20px;
	
}







































