* {
	
	font-family: 'Raleway', sans-serif;
	
}



html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 100px;
}

/************ Large screen Navigation Area *************/


nav {
	background-color: black;
}


.navbar {
  border-radius: 0 !important;
  margin-bottom: 0%;
 
}

#company-name {
	font-size: 2em;
	color: #FDD78C;
	font-weight: bolder;
	margin-left: 20px;

}

.nav.nav-pill.nav-justified li a {
    width: 500px;
}

.nav-pills {
	padding: 2% 1%;

}

.nav-pills > li > a {
      background:rgba(134, 133, 133, 0.5);
      color: black;
      padding-left: 30px;
      padding-right: 30px;
      
}

.nav-pills > li > a:hover {
      background-color: white;
}


.btn-lg {
	font-size: .8em;
	text-transform: uppercase;
	margin: 3px 3px 3px 3px;
	background:rgba(134, 133, 133, 0.5);
    color: black;

}

#jumbotronButton {
	font-size: .6em;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 0;
}


.full-width {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px;
}

.flex-row {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.flex-row div {
	width: 100%;
}

	
.full-width button {
	width: 100%;
}



/*********************/

.jumbotron {
	text-align: center;
	background-image: url("/img/header.jpg");
	background-size: cover;
	padding-bottom: 0%;
	display: flex;
	flex-direction: column;
}

/*********************/




/********* CONTENT ************/


#title {
	text-align: center;
	padding-bottom: 3%;

}

#title > h1 {
	margin-top: 0;
}

.orange {
	background-color: #BE8261;
	color: white;
	font-size: .8em;
	margin: 20px 20px;

}


/******************************/


/******** FOOTER *******/

#footer {
	background-color: black;
	height: 75px;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;

}

.copyright {
	text-align: right;
	color: white;
	padding: 15px;
	
}

.contact-info {
	padding: 20px;

}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
}

.footer-links ul li {
	list-style: none;
}



.contact-info li.github a {
	background-image: url('../img/Github.png');
}

.contact-info li.twitter a {
	background-image: url('../img/Twitter1.png');
}



/******** MODAL *******/

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#overlay div {
     width:350px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}

/******************************/



/********** MEDIA QUERIES ********/


@media (min-width: 768px) {
  #overlay div { width: 650px; }
}

@media (min-width: 768px) {
  .full-width { display: none; }
}

@media (min-width: 768px) {
  .jumbotron { padding-bottom: 75px; }
}


/******************************/




























